/* ESTILOS GENERALES */

.modal-header, h4, .cerrar_modal {
  background-color: rgba(49, 123, 176, 1);
  color:white !important;
  text-align: center;
  /*font-size: 30px;*/
}

.modal-header {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.modal-footer {
    background-color: #f9f9f9;
}

html, body { 
    height: 100%; 
    margin:0;
    padding:0;
}

body {
    /*-webkit-perspective: 700; (Si esto se activa, entonces el navbar no permanecería fijo).*/
    background-color: #90D3FE;
    display: table;
    width: 100%;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.container {
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    display: table;
}

.row {
    display: inherit;
}

.botones-bienvenida {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

.lfu-espacio-responsive {
    padding-left:0;
    padding-right:0;
    padding-bottom:0
}

.mensaje-de-validacion {
    text-align:center;
    padding:10px;
}

.lfu-panel-footer {
    border-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.panel-primary.panel-footer.sin-texto {
    height: 40px; /*Se le da una altura al panel-footer, ya que no contiene texto.*/
}

.lfu-separador-comentarios {
    margin-top:0px;
    margin-bottom:13px;
}

.label-izquierda {
    text-align:left;
    display:block;
}

.container-img {
    margin: 0 auto;
    position: relative;
    height: 200px; /* Eliminar este atributo si se desea mantener la imagen responsive */
    width: 200px; /* Eliminar este atributo si se desea mantener la imagen responsive */
    margin-bottom: 15px; /* Para que la imagen mantenga distancia con el campo de texto de abajo */
}

.lfu-avatar {
    margin: 0 auto;
    height: 200px; /* Eliminar este atributo si se desea mantener la imagen responsive */
    width: 200px; /* Eliminar este atributo si se desea mantener la imagen responsive */
    border: rgba(68, 154, 208, 1) solid 1px;
    transition: ease 0.2s all;
}

.enlace-sobre-avatar {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0px; /* Para que el botón se mantenga en el pie de la imagen de perfil */
    background-color: rgba(49, 123, 176, 1);
    color: white;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    display: none;
    left: 0px; /* Para evitar que el botón se desplace a la derecha */
    border: rgba(68, 154, 208, 1) solid 1px;
    border-top: none;
    transition: ease 0.2s all;
    cursor: pointer;
}

.container-img:hover .lfu-avatar {
    /* Al hacer hover en el container de la imagen de perfil, dicha imagen se oscurece*/
    filter: brightness(60%);
}

.container-img:hover .enlace-sobre-avatar {
    /* Al hacer hover en el container de la imagen de perfil, se muestra el enlace de "Eliminar imagen"*/
    display: block;
}

/* FIN DE ESTILOS GENERALES */


/* ESTILOS PARA EL HEADER (NAVBAR) DE LOS USUARIOS CONVENCIONALES */

#menu-usuario.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

#menu-usuario.navbar-default {
    font-size: 15px;
    background-color: rgba(92, 180, 238, 1);
    border-bottom-width: 1px;
}

#menu-usuario.navbar-default .navbar-nav>li>a {
    transition: ease 0.3s all;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(92, 180, 238, 1);
}

#mi-cuenta {
    background-color: rgba(92, 180, 238, 1);
}

#menu-usuario.navbar-default .navbar-nav>li>ul>li>a {
    transition: ease 0.3s all;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(92, 180, 238, 1);
}

#menu-usuario.navbar-default .navbar-nav>li>ul>li>a:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(68, 154, 208, 1);
}

/* El nickname del usuario no debe cambiar su background-color con el hover*/
#menu-usuario.navbar-default .navbar-nav>li>ul>li>a#mi-cuenta-nickname:hover {
    background-color: rgba(92, 180, 238, 1);;
}

#menu-usuario.navbar-default .navbar-nav>li>a:hover/*,
#menu-usuario.navbar-default .navbar-nav>li>a:focus*/ {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(68, 154, 208, 1);
}

#menu-usuario.navbar-default .navbar-nav>.active>a/*,
#menu-usuario.navbar-default .navbar-nav>.active>a:hover,
#menu-usuario.navbar-default .navbar-nav>.active>a:focus*/ {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(49, 123, 176, 1);
}

#menu-usuario.navbar-default .navbar-toggle {
    border-color: #317bb0;
}

#menu-usuario.navbar-default .navbar-toggle:hover,
#menu-usuario.navbar-default .navbar-toggle:focus {
    background-color: #317bb0;
}

#menu-usuario.navbar-default .navbar-toggle .icon-bar {
    background-color: #317bb0;
}

#menu-usuario.navbar-default .navbar-toggle:hover .icon-bar,
#menu-usuario.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #5cb4ee;
}

@media (min-width: 768px) {
    /* Para que el ancho del dropdown de 'Mi Cuenta' no sea modificado debido a la longitud del nickname
       del usuario*/
    #mi-cuenta-nickname {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: blue;
    }
}

/* FIN DE ESTILOS PARA EL HEADER (NAVBAR) DE LOS USUARIOS CONVENCIONALES */


/* ESTILOS PARA EL FOOTER Y LOS ICONOS DE CONTACTO */

.footer {
    display: table-row;
    background-color: rgba(92, 180, 238, 1);
    color: white;
    height: 85px;
}

.social {
    color: rgba(49, 123, 176, 1);
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social-fb:hover {
    color: #3B5998;
}

#social-tw:hover {
    color: #4099FF;
}

#social-gp:hover {
    color: #d34836;
}

#social-em:hover {
    color: #f39c12;
}

#social-ig:hover {
    color: #670366;
}

#social-li:hover {
    color: blue;
}

#social-yt:hover {
    color: red;
}

/* FIN DE ESTILOS PARA EL FOOTER Y LOS ICONOS DE CONTACTO */


/* ESTILOS PARA EL MÓDULO "INICIO" */

#lfu-inicio-panel-ultimasletras {
    overflow: hidden;
    min-height: 500px;
    max-height: 500px;
}

#lfu-inicio-panel-body-ultimasletras {
    overflow: auto;
    min-height: 457px;
    max-height: 457px;
    padding-bottom: 15px;
}

#lfu-inicio-panel-topcanciones {
    overflow: hidden;
    max-height:250px;
    min-height:250px;
    margin-bottom:0px;
}

#lfu-inicio-panel-body-topcanciones {
    overflow: auto;
    min-height: 207px;
    max-height: 207px;
    padding-bottom: 15px;
}

#lfu-inicio-panel-topusuarios {
    overflow: hidden;
    max-height:250px;
    min-height:250px;
    margin-bottom:0px;
}

#lfu-inicio-panel-body-topusuarios {
    overflow: auto;
    min-height: 207px;
    max-height: 207px;
    padding-bottom: 15px;
}

#lfu-inicio-panel-ultimasletras, #lfu-inicio-panel-topusuarios, #lfu-inicio-panel-topcanciones {
    border-color: rgba(68, 154, 208, 1);
    //border-radius: 0px;
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
    margin-bottom:0px;
}

#lfu-inicio-panel-topusuarios {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#lfu-inicio-panel-heading-topcanciones, #lfu-inicio-panel-heading-ultimasletras,
#lfu-inicio-panel-heading-topusuarios {
    background-color: rgba(92, 180, 238, 1); /* rgba(68, 154, 208, 1) */
    font-size: 14px;
}

#lfu-inicio-panel-heading-topusuarios {
    border-radius: 0px;
}

@media (min-width: 768px) {
    /* Para no mostrar 'doble borde' entre paneles adyacentes*/
    #lfu-inicio-panel-ultimasletras {
        border-right: none;
    }
    #lfu-inicio-panel-topusuarios {
        border-top: none;
    }

    #lfu-inicio-panel-topcanciones, #lfu-inicio-panel-heading-topcanciones {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #lfu-inicio-panel-ultimasletras, #lfu-inicio-panel-heading-ultimasletras {
        border-top-right-radius: 0px;
    } 
}

@media (max-width: 767px) {
    /* Para no mostrar 'doble borde' entre paneles adyacentes*/
    #lfu-inicio-panel-topcanciones, #lfu-inicio-panel-topusuarios {
        border-top: none;
    }

    #lfu-inicio-panel-topcanciones, #lfu-inicio-panel-heading-topcanciones {
        border-radius: 0px;
    }

    #lfu-inicio-panel-ultimasletras {
        max-height: 5000px;
    }

    #lfu-inicio-panel-body-ultimasletras {
        max-height: 4957px;
    }

    #lfu-inicio-panel-topcanciones {
        max-height: 5000px;
    }

    #lfu-inicio-panel-body-topcanciones {
        max-height: 4957px;
    }

    #lfu-inicio-panel-topusuarios {
        max-height: 5000px;
    }

    #lfu-inicio-panel-body-topusuarios {
        max-height: 4957px;
    }

}

/* FIN DE ESTILOS PARA EL MÓDULO "INICIO" */


/* ESTILOS PARA EL MÓDULO "REGISTRO" */

#lfu-panel {
    border-color: rgba(68, 154, 208, 1); /*rgba(92, 180, 238, 1);*/
}

#lfu-panel-heading, #lfu-panel-footer {
    background-color: rgba(92, 180, 238, 1);
    background-color: rgba(92, 180, 238, 1);
    border-color: rgba(68, 154, 208, 1); /*rgba(92, 180, 238, 1);*/
    color: white;
}

#lfu-panel-heading {
    font-size: 14px;
}

#nombre, #apellido, #nickname, #email, #password, #password-repeat {
    text-align: center;
}

@media (max-width: 768px) { 

}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { ... }
@media (min-width: @screen-md-min) and (max-width: @screen-md-max) { ... }
@media (min-width: 1200px) {

}

/* FIN DE ESTILOS PARA EL MÓDULO "REGISTRO" */


/* ESTILOS PARA EL MÓDULO "LOGIN" */

#login {
    text-align: center;
}

/* FIN DE ESTILOS PARA EL MÓDULO "LOGIN" */


/* ESTILOS GENÉRICOS PARA LOS MÓDULOS "ARTISTAS", "DISCOS" Y "CANCIONES"*/
/* FIN DE ESTILOS GENÉRICOS PARA LOS MÓDULOS "ARTISTAS", "DISCOS" Y "CANCIONES"*/


/* ESTILOS PARA EL MÓDULO "ARTISTAS" */
/* FIN DE ESTILOS PARA EL MÓDULO "ARTISTAS" */


/* ESTILOS PARA EL MÓDULO "DISCOS" */
/* FIN DE ESTILOS PARA EL MÓDULO "DISCOS" */


/* ESTILOS PARA EL MÓDULO "CANCIONES" */
/* FIN DE ESTILOS PARA EL MÓDULO "CANCIONES" */


/* ESTILOS PARA EL SUBMÓDULO "PERFIL DE USUARIO" */

#perfil-seccion-datos ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lfu-seccion-completa {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.lfu-seccion-dividida {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
.lfu-comentario-avatar {
    width:60px;
    height:60px;
}

#lfu-perfil-panel-datos {
    overflow-y: hidden;
    overflow-x: hidden;
    min-height: 350px;
    max-height: 350px;
    margin-bottom: 0px;
}

#lfu-perfil-panel-body-datos {
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 307px;
    max-height: 307px;
    padding-bottom: 15px;
}

#lfu-perfil-panel-opciones {
    overflow: hidden;
    min-height: 150px;
    max-height: 150px;
    margin-bottom: 0px;
}

#lfu-perfil-panel-body-opciones {
    overflow: auto;
    min-height: 107px;
    max-height: 107px;
    padding-bottom: 15px;
}

#lfu-perfil-panel-letras {
    overflow: hidden;
    min-height: 500px;
    max-height: 500px;
}

#lfu-perfil-panel-body-letras{
    overflow: auto;
    min-height: 457px;
    max-height: 457px;
    padding-bottom: 15px;
}

.lfu-separador-comentarios {
    margin-top:0px;
    margin-bottom:13px;
}

#lfu-perfil-panel-datos, #lfu-perfil-panel-opciones, #lfu-perfil-panel-letras {
    border-color: rgba(68, 154, 208, 1);
    //border-radius: 0px;
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
    margin-bottom:0px;
}

#lfu-panel-comentarios {
    border-color: rgba(68, 154, 208, 1);
    //border-radius: 0px;
    margin-bottom:0px;
}

#lfu-perfil-panel-opciones, #lfu-panel-comentarios {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#lfu-perfil-panel-heading-datos, #lfu-perfil-panel-heading-letras,
#lfu-perfil-panel-heading-opciones, #lfu-panel-heading-comentarios {
    background-color: rgba(92, 180, 238, 1); /* rgba(68, 154, 208, 1) */
    font-size: 14px;
}

#lfu-perfil-panel-heading-opciones, #lfu-panel-heading-comentarios
{
    border-radius: 0px;
}

a[href="#lfu-panel-collapse-comentarios"] {
    color: white;
}

.ocultar-comentarios {
    display: none;
}

#lfu-textarea-comentario {
    width:100%;
    padding-top:3px;
    padding-left:6px;
    resize: none;
}

.lfu-comentario-individual {
    text-align:left;
}

#lfu-comentario-descripcion {
    text-align: justify;
    text-justify: inter-word;
}

.no-border-bottom {
    border-bottom:0px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}

/* Se muestran losS borders-bottom del panel heading "Ver Comentarios"*/
#lfu-panel-heading-comentarios {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media (min-width: 768px) {
    /* Para no mostrar 'doble borde' entre paneles adyacentes*/
    #lfu-perfil-panel-letras {
        border-left: none;
    }
    #lfu-perfil-panel-opciones, #lfu-panel-comentarios {
        border-top: none;
    }

    #lfu-perfil-panel-datos, #lfu-perfil-panel-heading-datos {
        border-top-right-radius: 0px;
    }

    #lfu-perfil-panel-letras, #lfu-perfil-panel-heading-letras {
        border-top-left-radius: 0px;
    } 
}

@media (max-width: 767px) {
    /* Para no mostrar 'doble borde' entre paneles adyacentes*/
    #lfu-perfil-panel-letras, #lfu-perfil-panel-opciones, #lfu-panel-comentarios {
        border-top: none;
    }

    #lfu-perfil-panel-letras, #lfu-perfil-panel-heading-letras {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    #lfu-perfil-panel-datos, #lfu-perfil-panel-opciones, #lfu-perfil-panel-letras {
        max-height: 5000px;
    }

    #lfu-perfil-panel-body-datos, #lfu-perfil-panel-body-opciones, #lfu-perfil-panel-body-letras {
        max-height: 4957px;
    }
}

/* FIN DE ESTILOS PARA EL SUBMÓDULO "PERFIL DE USUARIO" */


/* ESTILOS PARA EL SUBMÓDULO "MENSAJES" */
/* FIN DE ESTILOS PARA EL SUBMÓDULO "MENSAJES" */


/* ESTILOS PARA EL SUBMÓDULO "SOLICITUDES" */
/* FIN DE ESTILOS PARA EL SUBMÓDULO "SOLICITUDES" */


/* ESTILOS PARA EL SUBMÓDULO "CONFIGURACIÓN" */

.panel-footer-configuracion {
    border-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

#lfu-configuracion-panel-datos {
    overflow: hidden;
    max-height:385px;
    min-height:385px;
}

#lfu-configuracion-panel-body-datos {
    overflow: auto;
    min-height: 342px;
    max-height: 342px;
    padding-bottom: 15px;
}

#lfu-configuracion-panel-correo {
    overflow: hidden;
    max-height:270px;
    min-height:270px;
}

#lfu-configuracion-panel-body-correo {
    overflow: auto;
    min-height: 227px;
    max-height: 227px;
    padding-bottom: 15px;
}

#lfu-configuracion-panel-imagen {
    overflow: hidden;
    max-height:385px;
    min-height:385px;
    margin-bottom:0px;
}

#lfu-configuracion-panel-body-imagen {
    overflow: auto;
    min-height: 342px;
    max-height: 342px;
    padding-bottom: 15px;
}

#lfu-configuracion-panel-password {
    overflow: hidden;
    max-height: 270px;
    min-height: 270px;
    margin-bottom: 0px;
}

#lfu-configuracion-panel-body-password {
    overflow: auto;
    min-height: 227px;
    max-height: 227px;
    padding-bottom: 15px;
}


#lfu-configuracion-panel-datos, #lfu-configuracion-panel-password, 
#lfu-configuracion-panel-imagen, #lfu-configuracion-panel-correo {
    border-color: rgba(68, 154, 208, 1);
    //border-radius: 0px;
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
    margin-bottom:0px;
}

#lfu-configuracion-panel-password, #lfu-panel-comentarios, #lfu-configuracion-panel-correo {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#lfu-configuracion-panel-heading-imagen, #lfu-configuracion-panel-heading-datos,
#lfu-configuracion-panel-heading-password, #lfu-configuracion-panel-heading-correo {
    background-color: rgba(92, 180, 238, 1); /* rgba(68, 154, 208, 1) */
    font-size: 14px;
}

#lfu-configuracion-panel-heading-password, #lfu-configuracion-panel-heading-correo {
    border-radius: 0px;
}

@media (min-width: 768px) {
    /* Para no mostrar 'doble borde' entre paneles adyacentes*/
    #lfu-configuracion-panel-datos, #lfu-configuracion-panel-correo {
        border-right: none;
    }
    #lfu-configuracion-panel-password, #lfu-configuracion-panel-correo  {
        border-top: none;
    }

    #lfu-configuracion-panel-imagen, #lfu-configuracion-panel-heading-imagen {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    #lfu-configuracion-panel-datos, #lfu-configuracion-panel-heading-datos {
        border-top-right-radius: 0px;
    } 
}

@media (max-width: 767px) {
    /* Para no mostrar 'doble borde' entre paneles adyacentes*/
    #lfu-configuracion-panel-imagen, #lfu-configuracion-panel-password, #lfu-configuracion-panel-correo  {
        border-top: none;
    }

    #lfu-configuracion-panel-imagen, #lfu-configuracion-panel-heading-imagen {
        border-radius: 0px;
    }

    #lfu-configuracion-panel-datos, #lfu-configuracion-panel-imagen,
    #lfu-configuracion-panel-password, #lfu-configuracion-panel-correo {
        max-height: 5000px;
    }

    #lfu-configuracion-panel-body-datos, #lfu-configuracion-panel-body-imagen,
    #lfu-configuracion-panel-body-password, #lfu-configuracion-panel-body-correo {
        max-height: 4957px;
    }

}


/* FIN DE ESTILOS PARA EL SUBMÓDULO "CONFIGURACIÓN" */


/* ESTILOS PARA EL MÓDULO "BUSCAR" */
/* FIN DE ESTILOS PARA EL MÓDULO "BUSCAR" */


