/* ESTILOS GENERALES */

.modal-header, h4, .close {
  background-color: rgba(49, 123, 176, 1);
  color:white !important;
  text-align: center;
  //font-size: 30px;
}

.modal-footer {
    background-color: #f9f9f9;
}

html, body { 
    height: 100%; 
    margin:0;
    padding:0;
    height:100%;
}

body {
    -webkit-perspective: 700;
    background-color: #90D3FE;
    display: table;
    width: 100%;
    font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.container {
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    display: table;
}

.botones-bienvenida {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}

// Estilos para el título de cada vista:
#lfu-titulo {
    color: rgba(255, 255, 255, 1);
    font-size: 15px;
    font-weight: lighter;
    border-color: rgba(68, 154, 208, 1);
    border-radius: 0px;
    background: linear-gradient(rgba(68, 154, 208, 1),rgba(92, 180, 238, 1));
}

/* FIN DE ESTILOS GENERALES */


/* ESTILOS PARA EL HEADER (NAVBAR) DE LOS USUARIOS CONVENCIONALES */

#menu-usuario.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}

#menu-usuario.navbar-default {
    font-size: 15px;
    background-color: rgba(92, 180, 238, 1);
    border-bottom-width: 1px;
}

#menu-usuario.navbar-default .navbar-nav>li>a {
    transition: ease 0.3s all;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(92, 180, 238, 1);
}

#mi-cuenta {
    background-color: rgba(92, 180, 238, 1);
}

#menu-usuario.navbar-default .navbar-nav>li>ul>li>a {
    transition: ease 0.3s all;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(92, 180, 238, 1);
}

#menu-usuario.navbar-default .navbar-nav>li>ul>li>a:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(68, 154, 208, 1);
}

/* El nickname del usuario no debe cambiar su background-color con el hover*/
#menu-usuario.navbar-default .navbar-nav>li>ul>li>a#mi-cuenta-nickname:hover {
    background-color: rgba(92, 180, 238, 1);;
}

#menu-usuario.navbar-default .navbar-nav>li>a:hover/*,
#menu-usuario.navbar-default .navbar-nav>li>a:focus*/ {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(68, 154, 208, 1);
}

#menu-usuario.navbar-default .navbar-nav>.active>a/*,
#menu-usuario.navbar-default .navbar-nav>.active>a:hover,
#menu-usuario.navbar-default .navbar-nav>.active>a:focus*/ {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(49, 123, 176, 1);
}

#menu-usuario.navbar-default .navbar-toggle {
    border-color: #317bb0;
}

#menu-usuario.navbar-default .navbar-toggle:hover,
#menu-usuario.navbar-default .navbar-toggle:focus {
    background-color: #317bb0;
}

#menu-usuario.navbar-default .navbar-toggle .icon-bar {
    background-color: #317bb0;
}

#menu-usuario.navbar-default .navbar-toggle:hover .icon-bar,
#menu-usuario.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #5cb4ee;
}

@media (min-width: 768px) {
    /* Para que el ancho del dropdown de 'Mi Cuenta' no sea modificado debido a la longitud del nickname
       del usuario*/
    #mi-cuenta-nickname {
        max-width: 200px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: blue;
    }
}

/* FIN DE ESTILOS PARA EL HEADER (NAVBAR) DE LOS USUARIOS CONVENCIONALES */


/* ESTILOS PARA EL FOOTER Y LOS ICONOS DE CONTACTO */

.footer {
    display: table-row;
    background-color: rgba(92, 180, 238, 1);
    color: white;
    height: 85px;
}

.social {
    color: rgba(49, 123, 176, 1);
    -webkit-transform: scale(0.8);
    /* Browser Variations: */
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social-fb:hover {
    color: #3B5998;
}

#social-tw:hover {
    color: #4099FF;
}

#social-gp:hover {
    color: #d34836;
}

#social-em:hover {
    color: #f39c12;
}

#social-ig:hover {
    color: #670366;
}

#social-li:hover {
    color: blue;
}

#social-yt:hover {
    color: red;
}

/* FIN DE ESTILOS PARA EL FOOTER Y LOS ICONOS DE CONTACTO */


/* ESTILOS PARA EL MÓDULO "INICIO" */
/* FIN DE ESTILOS PARA EL MÓDULO "INICIO" */


/* ESTILOS GENÉRICOS PARA LOS MÓDULOS "ARTISTAS", "DISCOS" Y "CANCIONES"*/
/* FIN DE ESTILOS GENÉRICOS PARA LOS MÓDULOS "ARTISTAS", "DISCOS" Y "CANCIONES"*/


/* ESTILOS PARA EL MÓDULO "ARTISTAS" */
/* FIN DE ESTILOS PARA EL MÓDULO "ARTISTAS" */


/* ESTILOS PARA EL MÓDULO "DISCOS" */
/* FIN DE ESTILOS PARA EL MÓDULO "DISCOS" */


/* ESTILOS PARA EL MÓDULO "CANCIONES" */
/* FIN DE ESTILOS PARA EL MÓDULO "CANCIONES" */


/* ESTILOS PARA EL SUBMÓDULO "PERFIL DE USUARIO" */

#perfil-seccion-datos ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.lfu-seccion-completa {
    padding-left:0;
    padding-right:0;
    padding-bottom:0
}

.lfu-seccion-dividida {
    padding-left:0;
    padding-right:0;
    padding-bottom:0
}
.lfu-comentario-avatar {
    width:60px;
    height:60px;
}

#lfu-perfil-panel-datos {
    height:350px;
    margin-bottom:0px;
}
#lfu-perfil-panel-opciones {
    height:150px;
    margin-bottom:0px;
}
#lfu-perfil-panel-letras {
    height:500px;
}
.lfu-separador-comentarios {
    margin-top:0px;
    margin-bottom:13px;
}

#lfu-perfil-panel-datos, #lfu-perfil-panel-opciones, #lfu-perfil-panel-letras {
    border-color: rgba(68, 154, 208, 1);
    //border-radius: 0px;
    border-bottom-right-radius: 0px; 
    border-bottom-left-radius: 0px;
    margin-bottom:0px;
}

#lfu-panel-comentarios {
    border-color: rgba(68, 154, 208, 1);
    //border-radius: 0px;
    margin-bottom:0px;
}

#lfu-perfil-panel-opciones, #lfu-panel-comentarios {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#lfu-perfil-panel-heading-datos, #lfu-perfil-panel-heading-letras,
#lfu-perfil-panel-heading-opciones, #lfu-panel-heading-comentarios {
    background-color: rgba(92, 180, 238, 1); /* rgba(68, 154, 208, 1) */
    font-size: 14px;
}

#lfu-perfil-panel-heading-opciones, #lfu-panel-heading-comentarios
{
    border-radius: 0px;
}

a[href="#lfu-panel-collapse-comentarios"] {
    color: white;
}

.ocultar-comentarios {
    display: none;
}

.lfu-comentario-individual {
    text-align:left;
}

#lfu-comentario-descripcion {
    text-align: justify;
    text-justify: inter-word;
}

.no-border-bottom {
    border-bottom:0px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
}

/* Se muestran losS borders-bottom del panel heading "Ver Comentarios"*/
#lfu-panel-heading-comentarios {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

@media (min-width: 991px) {
    /* Para no mostrar 'doble borde' entre paneles adyacentes*/
    #lfu-perfil-panel-letras {
        border-left: none;
    }
    #lfu-perfil-panel-opciones, #lfu-panel-comentarios {
        border-top: none;
    }

    #lfu-perfil-panel-datos, #lfu-perfil-panel-heading-datos {
        border-top-right-radius: 0px;
    }

    #lfu-perfil-panel-letras, #lfu-perfil-panel-heading-letras {
        border-top-left-radius: 0px;
    } 
}

@media (max-width: 990px) {
    /* Para no mostrar 'doble borde' entre paneles adyacentes*/
    #lfu-perfil-panel-letras, #lfu-perfil-panel-opciones, #lfu-panel-comentarios {
        border-top: none;
    }

    #lfu-perfil-panel-letras, #lfu-perfil-panel-heading-letras {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}

/* FIN DE ESTILOS PARA EL SUBMÓDULO "PERFIL DE USUARIO" */


/* ESTILOS PARA EL SUBMÓDULO "MENSAJES" */
/* FIN DE ESTILOS PARA EL SUBMÓDULO "MENSAJES" */


/* ESTILOS PARA EL SUBMÓDULO "SOLICITUDES" */
/* FIN DE ESTILOS PARA EL SUBMÓDULO "SOLICITUDES" */


/* ESTILOS PARA EL SUBMÓDULO "CONFIGURACIÓN" */
/* FIN DE ESTILOS PARA EL SUBMÓDULO "CONFIGURACIÓN" */


/* ESTILOS PARA EL MÓDULO "BUSCAR" */
/* FIN DE ESTILOS PARA EL MÓDULO "BUSCAR" */


